services:
  api:
    build:
      context: .
      dockerfile: Firmeza.Api/Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    restart: always

  web:
    build:
      context: .
      dockerfile: Firmeza.Web/Dockerfile
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    restart: always

  store:
    build:
      context: ./firmeza-store
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    restart: always
